<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
      {% block title %}My Page{% endblock %}
    </title>
    <link href="//fonts.googleapis.com/css?family=Sirin+Stencil" rel="stylesheet">

<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_signup.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootrap.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.1.1-web/css/all.min.css') }}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block link %}{% endblock %}

    <style>
        {% block style %}{% endblock %}
    </style>
</head>
<body>
  <nav class="navbar">
      <div class="navbar_kv1">
            

            <div class="nav_link">
              <ul class="nav_link_ul">
                
                <li class="nav_link-item">
                  <a class="navbar-brand" href="">
                    <i class="nav_link-icon fa-solid fa-house-chimney-user"></i>  
                  </a>
                </li>
              
                <li class="nav_link-item">
                  <a class="nav-link" href="/home">Home </a>
                </li>
                
                        {% with dis1 = display_signup %}
                        {% if dis1 %}
                            <li class="nav_link-item">
                            <a class="nav-link" href="/signup" >Sign up </a>
                            </li>
                        {% else %}
                              <li class="nav_link-item">
                                <a id="id00" class="nav-link" href="/login">Login </a>
                            </li>
                        {% endif %}
                    {% endwith %}

                    {% with dis = display %}
                        {% if dis %}
                            <li class="nav_link-item">
                            <a class="nav-link" href="/logout">Logout </a>
                          </li>
<!--                          <li class="nav_link-item">-->
<!--                            <a class="nav-link" href="/admin">Manage Admin </a>-->
<!--                          </li>-->
                    
                        {% else %}
                            <p></p>
                        {% endif %}
                    {% endwith %}
                   {% with disp = valid %}
                        {% if disp=="ADMIN" %}

                          <li class="nav_link-item">
                            <a class="nav-link" href="/admin">Manage Admin </a>
                          </li>

                        {% else %}
                            <p></p>
                        {% endif %}
                    {% endwith %}

                 

              </ul>


            
                  
            </div>
      </div>
      
      
      <div class="navbar_kv2">
       
          {% block hello %}
          
      {% endblock %}
      
      </div>
 </nav>
        {% block content %}
        <h1>MY CONTENT</h1>
        {% endblock %}

        {% block script %} {% endblock %}

</body>


 


</html>



<!--    {% with messages = get_flashed_messages() %}-->
<!--        {% if messages %}-->
<!--            {% for m in messages %}-->
<!--                <p>{{m}}</p>-->
<!--            {% endfor %}-->
<!--        {% endif %}-->
<!--    {% endwith %}-->